body {
    background-color: #778ae9;
}

.section-01 {
    background: linear-gradient(#45e9cd, #778ae9);
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 5rem;
    box-shadow: 5px 5px 10px 10px rgb(99, 216, 216);

}

.div-links {
    font-family: arial;
    display: flex;
    justify-content: center;
    animation: beat 4s ease-in-out infinite;
}

a {
    text-decoration: none;
    padding: 1em;
    color: #fff;
}

@keyframes beat {
    50% {
        transform: scale(1.5);
    }
}

.div01-name {
    padding: 3em;
    display: flex;
    justify-content: center;
}

#btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: auto;
    height: 30px;
    font-size: large;
    color: #766b6b;
    box-shadow: 3px 3px 3px 3px #00000071;
}

.cursor {
    position: relative;
    width: 8%;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media screen and (max-width: 1000px) {
    .section-01 {
        width: auto;
    }
}
